.App {
  text-align: center;
  /* background-color: #262626; */
  background-color:rgba(25,25,25,0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #262626; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: visible;
  width: 100%;
  padding: 20px;
}

.App-header div{
  width: 100%
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
} */

/* .App-header {
  background-color: #262626;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
} */

/*===================
| | | Messenger | | |
===================*/

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  justify-content: flex-end;
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  font-size: initial;
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.Message-content > .tone {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.currentMember > .Message-content .text {
  background-color: green;
}

/* .chat-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

.chat-input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #0F2924;
  flex-grow: 1;
}

.chat-btn {
  padding: 5px 10px;
  font-size: 16px;
  background-color:#0F2924 ;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
} */

div.MessageContainer {
  overflow-y: auto;
  max-height: 350px;
  height: 350px;
}

div.chat-container {
  width: 700px;
}

canvas {
  background: #C3CAC8;
  opacity: .7;
}

/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"),
    url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyCMIT5lu.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"),
    url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*===================
| | Landing Page |  |
===================*/

body,
html {
  height: 100%;
}

body,
h1 {
  font-family: "Raleway", sans-serif;
}

html,
body {
  font-size: 15px;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: block;
}

.bgimg {
  background-image: url(https://www.w3schools.com/w3images/forestbridge.jpg);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.w3-text-white,
.w3-hover-text-white:hover {
  color: #fff;
}

.w3-animate-opacity {
  animation: opac 0.8s;
}

.w3-tooltip,
.w3-display-container,
.cal-display-container {
  position: relative;
  height: -webkit-fill-available;
}

.w3-display-middle, .cal-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cal-display-middle{
  width: 30%;
}

.w3-jumbo, .pL-jumbo, .cal-jumbo {
  font-size: 64px;
}

.cal-jumbo {
  box-sizing: border-box;
}

.w3-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

h1.w3-jumbo {
  font-weight: 400;
  margin: 10px 0;
}

h1.w3-jumbo {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p.w3-large {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

hr {
  margin: auto;
  width: 40%;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.w3-border-grey {
  border: 1px solid #9e9e9e;
}

.w3-center {
  text-align: center;
}

.w3-large {
  font-size: 18px;
}

/*===================
| | Navbar Style |  |
===================*/

.navbar {
  position: absolute;
  z-index: 2;
}

.NavItem a {
  color: #fff;
}

.formDisplay {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

/*==========================
| | Personality Profile |  |
==========================*/

/* header portion */

header.pL-container{
  padding: 128px 16px;
}

.pL-red, .pL-hover-red:hover {
  color: #fff;
background-color: #0F2924;
}

.pL-center {
  text-align: center;
}

.pL-margin {
  margin: 16px;
}

/* .pL-jumbo {
  font-size: 64px;
} */

.pL-xlarge {
  font-size: 24px;
}

.pL-padding-large {
  padding: 12px 24px;
}

.pL-margin-top {
  margin-top: 16px;
}

.pL-large {
  font-size: 18px;
}

/* grid one */

.pL-padding-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

div.container {
  height: 408px;
  max-width: none;
  width: auto;
}

.pL-content {
  max-width: 980px;
}

.pL-content, .pL-auto {
  margin-left: auto;
  margin-right: auto;
}

.pL-twothird {
  float: left;
  width: 66.66666%;
}

.pL-twothird h1, .pL-twothird h5 {
  font-weight: 400;
  margin: 10px 0;
}

.pL-padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pL-text-grey {
  color: #757575;
}

.pL-third {
  width: 33.33333%;
  float: left;
}

.fa {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

img .pL-padding {
  width: 50px;
}

img.fa-anchor {
  width: 300px;
}

/* second grid */

.pL-light-grey {
  color: #000;
  background-color: #f1f1f1;
}

img.fa-coffee {
  width: 250px;
}

.pL-black {
  color: #fff;
  background-color: #000;
}

.pL-opacity {
  opacity: 0.60;
}

/*======================
| | Messanger Page |  |
======================*/

.bgimgChat {
  background-image: url(https://www.w3schools.com/w3images/onepage_restaurant.jpg);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.cal-text-white {
  color: #fff;
}

.cal-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.cal-container {
  padding: .01em 16px;
}